button {
  border: 3px solid var(--color-border);
  border-radius: 4px;
  min-height: 5vh;
  width: 80px;
}

button:hover {
  background-color: var(--color-active-highlight);
}

.preview {
  width: 640px;
  background-color: var(--color-white);
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.16);
  border-radius: 4px;
}

.preview .title {
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-dark-mute);
  padding: 0 20px;
  line-height: 40px;
  background-color: var(--color-background);
}

.preview .content {
  font-size: 15px;
  line-height: 1.6;
  color: var(--color-text-dark);
  white-space: pre-wrap;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
  padding: 20px;
}
